<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>
<main id="root"></main>
<script type="text/javascript">
  window.images = {
    bitcoin_tran: "<%= image_url('transactions/bitcoin-tran.png') %>",
    bitcoincash_tran: "<%= image_url('transactions/bitcoincash-tran.png') %>",
    ethereum_tran: "<%= image_url('transactions/ethereum-tran.png') %>",
    litecoin_tran: "<%= image_url('transactions/litecoin-tran.png') %>",
    selected_accounts: "<%= image_url('local_bar/selected_accounts.png') %>",
    selected_dash: "<%= image_url('local_bar/selected_dash.png') %>",
    selected_trade: "<%= image_url('local_bar/selected_trade.png') %>",
    unselected_accounts: "<%= image_url('local_bar/unselected_accounts.png') %>",
    unselected_dash: "<%= image_url('local_bar/unselected_dash.png') %>",
    unselected_trade: "<%= image_url('local_bar/unselected_trade.png') %>",
    btc_logo: "<%= image_url('btc_logo.png') %>",
    btcc_logo: "<%= image_url('btcc_logo.png') %>",
    e_logo: "<%= image_url('e_logo.png') %>",
    ltc_logo: "<%= image_url('ltc_logo.png') %>"
  }
</script>
