<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>
<main id="root"></main>
<script type="text/javascript">
  window.images = {
    bitcoin_tran: "<%= image_url('bitcoin-tran.png') %>",
    bitcoincash_tran: "<%= image_url('bitcoincash-tran.png') %>",
    ethereum_tran: "<%= image_url('ethereum-tran.png') %>",
    litecoin_tran: "<%= image_url('litecoin-tran.png') %>",
    selected_accounts: "<%= image_url('selected-accounts.png') %>",
    selected_dash: "<%= image_url('selected-dash.png') %>",
    selected_trade: "<%= image_url('selected-trade.png') %>",
    unselected_accounts: "<%= image_url('unselected-accounts.png') %>",
    unselected_dash: "<%= image_url('unselected-dash.png') %>",
    unselected_trade: "<%= image_url('unselected-trade.png') %>",
    btc_logo: "<%= image_url('btcc_logo.png') %>",
    btcc_logo: "<%= image_url('btcc_logo.png') %>",
    e_logo: "<%= image_url('e_logo.png') %>",
    ltc_logo: "<%= image_url('ltc_logo.png') %>"
  }
</script>
